* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* Navbar */
nav {
    background: #222;
    padding: 12px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav button {
    background: crimson;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

/* Content */
.content {
    padding: 20px;
}

/* Login Page */
.login-box {
    background: white;
    width: 320px;
    padding: 25px;
    margin: 100px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #222;
    color: white;
    border: none;
}

#error {
    color: red;
    margin-top: 10px;
}